.princip {
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:100px;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-gap: 10px;
}

header{  
grid-area:"header";
background-color:  #333;
grid-area: header;
}


.main{
    grid-area:"main";
}

.footer{
    grid-area:"footer";
}
 .text{
    grid-area: footer;
        font-size: 20px;
       
 }
